@import './Pages/Commons/CommonStyles.css';

h1 {
    font-size: 70px;
}

a {
    border-radius: 36px;
    display: inline-block;
    margin-left: 2vw;
    margin-top: 1vw;
    width: 45vw;
    height: 35vw;
    border: 6px solid var(--base01);
    transition: 0.5s ease-in-out;
}

a:hover {
   scale: 1.06;
}

iframe {
    border-radius: inherit;
    width: inherit;
    height: inherit;
    scale: 1.01;
    pointer-events: none;
    overflow: hidden;
}

section {
    display: inline-block;
}

#ExtraStuff {
    margin-top: 50vh;
    display: flex;
    justify-content: center;
}
#ExtraStuff a {
    width: 35vw;
    height: 25vw;
}